- if @workplace.errors.any?
  #error_explanation
    .alert.alert-error
      The form contains #{pluralize(@workplace.errors.count, "error")}.
    %ul
      - @workplace.errors.full_messages.each do |msg|
        %li
          * #{msg}