%h3 Calendar Shifts - Week N: #{Date.today.strftime("%U").to_i}

%h3 Select a week:

= collection_select('week_number', 'date', @year_weeks, :last, :first,{:selected => @year_weeks['Week # ' + Date.today.strftime("%U")]})




%table.table.table-striped.table-bordered#table_id
  %tr
  -@week_business_days.each do |date|
    %th= date.strftime("%a %d-%b-%y")
  %tr
    -#shifts.key est day_work, shifts.value est une liste de shift
    -# @shifts: { Date => [Shift, Shift] }
    -@week_business_days.each do |date|
      %td
        -if @shifts[date].present?
          %ul
            -@shifts[date].each do |shift|
              %li.special
                = shift.user.first_name
