%h3 Calendar Shifts

%table.table.table-striped.table-bordered
  -@shifts.each_pair do |day_work, first_name|
    %tr{ style: "display: block; float: left" }
      %th{ style: "display: block" }= day_work.strftime("%a %m-%y")
      %td{ style: "display: block" }
        -first_name.each do |f|
          = ' - ' + f.user.first_name
