%h3 Calendar Shifts - Week N: #{Date.today.strftime("%U").to_i}

%h3 Select a week:


%table.table.table-striped.table-bordered
  %tr
  -#-@shifts.keys.each do |days|
  -@week_business_days.each do |days|
    %th= days.strftime("%a %d-%b-%y")
  %tr
    -@shifts.values.each do |shifts|
      %td
        %ul
          -shifts.each do |f|
            %li= f.user.first_name


-# another way to do it
-#%table.table.table-striped.table-bordered
-#  %tr
-#  -@shifts.each do |days, shifts|
-#    %th= days.strftime("%a %m-%y")
-#  %tr
-#    -@shifts.each do |days, shifts|
-#      %td
-#        %ul
-#          -shifts.each do |f|
-#            %li= f.user.first_name

