%h3 Calendar Shifts

%table.table.table-striped.table-bordered
  %tr
  -@shifts.keys.each do |days|
    %th= days.strftime("%a %m-%y")
  %tr
    -@shifts.values.each do |shifts|
      %td
        %ul
          -shifts.each do |f|
            %li= f.user.first_name



-#%table.table.table-striped.table-bordered
-#  %tr
-#  -@shifts.each do |days, shifts|
-#    %th= days.strftime("%a %m-%y")
-#  %tr
-#    -@shifts.each do |days, shifts|
-#      %td
-#        %ul
-#          -shifts.each do |f|
-#            %li= f.user.first_name

