// Place all the styles related to the shifters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pending {
  color: grey;
}
.approved {
  color: green;
}
.rejected {
  color: red;
}