// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.inactive {
  color: red;
}
.active {
  color: green;
}

ul, ol {
  margin: 0 0 0 0;
}